<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="robots" content="index,nofollow" />
        <title>MMA部会</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        />
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="./../static/css/common.css" />
    </head>

    <body>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}
        <div class="container mt-3">
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
            </div>
        </div>
        {% endif %} {% endwith %}
        <div class="container">
            <div class="row">
                <div class="col-md-3 sidebar">
                    <a href="/agenda">
                        <img
                            id="logo"
                            src="./../static/images/Logo.svg"
                            alt="Home"
                            class="img-fluid"
                        />
                    </a>
                    <div class="list-group mt-3">
                        <a
                            href="/thread"
                            class="list-group-item list-group-item-action {% if request.path == '/thread' %}active{% endif %}"
                            >全ての議題</a
                        >
                        <a
                            href="/agenda"
                            class="list-group-item list-group-item-action {% if request.path == '/agenda' %}active{% endif %}"
                            >直近の議題</a
                        >
                        <a
                            href="/room"
                            class="list-group-item list-group-item-action {% if request.path == '/room' %}active{% endif %}"
                            >教室</a
                        >
                        <a
                            href="https://forms.gle/nMF6qXnqFdtmTzuH6"
                            class="list-group-item list-group-item-action"
                            ,
                            target="_blank"
                        >
                            Googleフォーム</a
                        >
                        <a
                            href="/admin"
                            class="list-group-item list-group-item-action {% if request.path == '/admin' or request.path == '/admin-conf' %}active{% endif %}"
                            >Admin</a
                        >
                    </div>
                    {% if session.get('logged_in') %}
                    <div class="mt-3">
                        <a
                            href="{{ url_for('logout') }}"
                            class="btn btn-danger btn-block"
                            id="logout-button"
                            >ログアウト</a
                        >
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-9 content">
                    <main>
                        <div class="layout">
                            {% block content %}{% endblock %}
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <!-- ハンバーガーメニューのボタン -->
        <input type="checkbox" id="menu-btn-check" class="hamburger-menu">
        <label for="menu-btn-check" class="menu-btn">
            <span></span>
        </label>
        <!-- ハンバーガーメニューのコンテンツ -->
        <nav class="menu-content">
            <ul>
                <li><a href="/thread">全ての議題</a></li>
                <li><a href="/agenda">直近の議題</a></li>
                <li><a href="/room">教室</a></li>
                <li><a href="https://forms.gle/nMF6qXnqFdtmTzuH6" target="_blank">Googleフォーム</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        </nav>
        <script>
            document.getElementById('logout-button').addEventListener('click', function(event) {
                if (!confirm('ログアウトしますか？')) {
                    event.preventDefault();
                }
            });
        </script>
    </body>
</html>
